body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Londrina Outline', 'Montserrat';
   background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1{
	font-size:  3rem;
	color: #008F11;
}

hr {
	border-color: #003B00;
	border-width: 3px;
	max-width: 65px;
}

.animate__animated.animate__backInDown{
  --animate-duration: 4s;
}

.buffer {
	height: 10rem;
}

.btn {
	font-weight: 700;
	border-radius: 200px;
	font-family:  sans-serif, 'Montserrat';
}

.btn-info {
	background-color: #003B00;
	border-color:  #003B00;
}

.btn-info:hover {
	background-color: #008F11;
	border-color: #008F11;
	border-width: 4px;
}

.btn-xl {
	padding: 1rem 2rem;
}